body{
font-family:Arial;
margin:0;
background:#fff9c4;
}

header{
background:#fbc02d;
padding:20px;
text-align:center;
}

#layout{
display:flex;
height:90vh;
}

#sidebar{
width:220px;
background:#fff176;
padding:10px;
}

#chatArea{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
overflow-y:auto;
padding:10px;
background:white;
}

.message{
padding:10px;
margin:6px;
background:#fff59d;
border-radius:10px;
}

#sendBar{
display:flex;
padding:10px;
background:#fff176;
}

input{
flex:1;
padding:10px;
}

button{
padding:10px;
background:#fdd835;
border:none;
cursor:pointer;
}
